.wp_bd { height:8px; overflow:hidden; background-color:#ff7200; }
.container { width:990px; margin:0 auto; padding-bottom:10px; }
.container .mt6 { margin-top:6px }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
.clb{ clear:both;}

.wbg{ background:url(../images/individualcenter/c_bg_03.png) repeat-y left top; width:990px; margin:0 auto}
.b_bg{ background:url(../images/individualcenter/c_bg_06.png) no-repeat left bottom; padding-bottom:1px}
.l_box{ width:232px; min-height:800px; border-top:1px solid #BBBABA; float:left }
.r_box{ width:756px; min-height:800px; background-color:#fff; float:right}
.menu_infor{ margin-left:1px; clear:both;}
.menu_infor li,.menu_infor li a{ height:38px; overflow:hidden; border-bottom:1px solid #b6b5b5}
.menu_infor li a{ display:block; background:url(../images/individualcenter/menu_infor_bg.png) no-repeat 0 -38px; font:bold 16px/38px "Microsoft YaHei", SimHei; color:#575757; text-indent:50px;}
.menu_infor li a:hover,.menu_infor li a.cur,.menu_infor li a.cur:hover{ background:url(../images/individualcenter/menu_infor_bg.png) no-repeat 0 0; font:bold 18px/36px "Microsoft YaHei", SimHei; color:#fff; text-decoration:none;}
/* 分页 */
.page_block{ background:#f1f5f6; position:relative; height:35px; margin-bottom:10px; padding:0 10px; }
.houses_total2{ font:normal 12px/35px SimSun; color:#747474; float:left; margin-left:25px}
.houses_total2 em{ font:normal 12px Arial, sans-serif; color:#cc0000;}
.pagination{ margin:8px 15px 0 0;}
.pagination a{ display:inline-block; border:1px solid #ccc; background:#fff; padding:2px 7px; text-align:center; font:normal 12px Arial, sans-serif; color:#3958a0;}
.pagination a:hover{ border:1px solid #f60; color:#f60; text-decoration:none}
.pagination a.current,.pagination a.current:hover{ font:bold 14px Arial, sans-serif; color:#f60; border:0; background:none}
.pagination .page_pre,.pagination .page_start,.pagination .page_end,.pagination .page_next{ position:relative; display:inline-block; *top:-1px}
.pagination .page_start,.pagination .page_pre{ padding:2px 5px 2px 15px; }
.pagination .page_next,.pagination .page_end{ padding:2px 15px 2px 5px;}
.pagination .page_start,.pagination .page_end{ background:#fff; color:#ccc; text-decoration:none; cursor:default}
.pagination .page_start:hover,.pagination .page_end:hover{border:1px solid #ccc; color:#ccc;}
.for_bg,.for_bg2{ display:inline-block; background:url(http://cache.house.sina.com.cn/esalesleju/v1/images/search/bj.png) no-repeat; width:4px; height:7px; overflow:hidden; position:absolute; zoom:1; float:right}
.for_bg{ background-position:0 0; left:5px; top:5px;}
.for_bg2{ background-position:0 -70px; right:5px; top:5px;}

.sec_infor{ float:left; padding-top:6px;}
.sec_infor li{ float:left; width:230px; margin:5px 0 0 1px; display:inline; line-height:24px; color:#666; font-size:14px;}
.sec_infor li span{ float:left; width:26px; height:25px; background:url(../images/individualcenter/sec_infor_sj.png) 12px 8px no-repeat;}
.sec_infor li a{ color:#666;}
.sec_infor .cur{ background:url(../images/individualcenter/sec_infor_bg.png) left top no-repeat;}
.sec_infor .cur a{ color:#010101; font-weight:bold;}

.mod_msg{ border:1px solid #febf90; background-color:#fff8d9;}
.mod_msg .p_a{ padding:14px 6px; color:#666;}
.mod_msg .p_a span{ font-weight:bold; color:#d23836;}
.mod_msg h3{ color:#666; font-size:16px; font-weight:bold; line-height:18px; padding:13px 15px 0;}
.mod_msg .p_b{ color:#666; line-height:18px; padding:5px 15px 13px;}
.mod_msg .p_c{ color:#666; line-height:24px; padding:5px 15px; font-size:14px;}

.search_pro{ margin:10px 0 0 0; height:47px; border:1px solid #d4d4d4; background:url(../images/individualcenter/search_pro.png) left bottom repeat-x;}
.search_pro .txt{ float:left; width:273px; height:22px; margin:11px 0 0 10px; display:inline; border:1px solid #b95e5e; color:#9e9e9e; line-height:22px; text-indent:3px;}
.search_pro .search_btn{ float:left; width:116px; height:27px; margin:11px 0 0 10px; display:inline; border:0; text-indent:-9999px; background:url(../images/individualcenter/bg.png) -364px -176px no-repeat;}
.search_pro p{ float:left; color:#999; margin:11px 0 0 10px; display:inline; white-space:nowrap; line-height:24px;}

.search_result{ margin:10px 0 0 0; width:756px; border-collapse:collapse; text-align:center;}
.search_result th{ height:28px; background:url(../images/individualcenter/th.png) left top repeat-x; border:1px solid #d4d4d4; text-align:center;}
.search_result td{ height:31px; border:1px solid #d4d4d4;}
.search_result td a{ color:#334bdd; text-decoration:underline;}
.search_result td em{ color:#d43e3e; font-weight:bold;}
.search_result td .red{ color:#f00;}
.search_result .time{ padding:10px 0 10px 28px; line-height:20px; text-align:left;}

.mt55{ margin-top:55px;}
.mt_1{ margin-top:-1px;}

.search_pro_jd{ height:79px; border:1px solid #d4d4d4; background:url(../images/individualcenter/search_jd.png) left bottom repeat-x;}
.search_pro_jd table{ height:79px; width:100%; text-align:right;}
.search_pro_jd .txt{ width:83px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;}
.search_pro_jd select{ width:85px;}
.search_pro_jd .search_btn{ width:90px; height:28px; margin:0 5px 0 0; background:url(../images/individualcenter/bg.png) -481px -176px no-repeat; border:0;}


.xk_box{ position:absolute;  border:1px solid #929292;}
.xk_box .tit{ height:35px; background:url(../images/individualcenter/xk_box.png) left bottom repeat-x;}
.xk_box .tit h3{ padding:0 0 0 16px; line-height:34px; font-weight:bold; color:#333;}
.xk_box .tit .close{ float:right; width:21px; height:14px; margin:13px 5px 0 0; background:url(../images/individualcenter/bg.png) right -176px no-repeat;}
.xk_box .sj_t{ position:absolute; left:175px; bottom:-17px; z-index:10; width:33px; height:17px; background:url(../images/individualcenter/sj3317.png) left top no-repeat;}
.xk_jjr li{ float:left; width:100%; line-height:22px; margin:7px 0 0 0;}
.xk_jjr li span{ float:left; padding:0 5px 0 0; width:130px; font-weight:bold; text-align:right;}
.xk_jjr li select{ width:175px;}
.xk_box .pl45{ padding:0 0 0 45px; line-height:24px;}
.xk_box .btn_qd{ display:inline-block; width:90px; height:27px; margin:0 5px; background:url(../images/individualcenter/bg.png) left -176px no-repeat;}
.xk_box .btn_qx{ display:inline-block; width:90px; height:27px; background:url(../images/individualcenter/bg.png) -91px -204px no-repeat;}

.search_result_jd{ margin:10px 0 0 0; width:756px; border-collapse:collapse;}
.search_result_jd th{ height:28px; background:url(../images/individualcenter/th.png) left top repeat-x; border:1px solid #d4d4d4; text-align:center;}
.search_result_jd td{ height:31px; border:1px solid #d4d4d4;}
.search_result_jd td a{ color:#334bdd; text-decoration:underline;}
.search_result_jd td em{ color:#d43e3e; font-weight:bold;}
.search_result_jd td .gray{ color:#d5ccde;}
.blue_less{ color:#009900;}

.num_list{ margin:0 auto; width:185px; padding:10px 0 0 4px;}
.num_list li{ float:left; width:25px; margin:0 0 0 3px; text-align:center; vertical-align: top;}
.num_list li span{ display:block; border:1px solid #aeaeae; text-align:center;}
.num_list .all{ width:36px;}
.num_list li .blue{ background-color:#ceeeff;}
.num_list li .orag{ background-color:#ff6d12;}

.mod_infor{ border:1px solid #d4d4d4; border-bottom:0;}
.mod_infor .tit{ height:25px; border-bottom:1px solid #d4d4d4; background:url(../images/individualcenter/tit.png) left bottom repeat-x; font-size:14px; color:#575757; font-weight:bold; line-height:24px; text-indent:17px;}
.mod_infor .tit_red{ color:#cc0300;}
.mod_infor .mod_col{ border-bottom:1px solid #d4d4d4; padding-bottom:10px;}
.mod_infor .mod_col .choose{ margin:0 15px; padding:24px 0 0 0; height:42px; font-size:14px; color:#575757;}
.mod_infor .mod_col .choose select{ width:300px;}
.mod_infor .kehu{ float:left; padding:10px 0 0;}
.mod_infor .kehu_a{ padding:7px 0 14px 17px; font-size:12px;}
.mod_infor .kehu li{ float:left; width:100%; margin:10px 0 0 0;}
.mod_infor .kehu_a li{ margin:0; line-height:24px;}
.mod_infor .kehu span{ float:left; padding:0 5px 0 0; width:110px; text-align:right; line-height:22px; font-size:12px;}
.mod_infor .kehu select{ float:left; width:118px;}
.mod_infor .kehu .txt{ float:left; width:250px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;}
.mod_infor .kehu .txt_short{ float:left; width:84px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;}
.mod_infor .kehu .txt_less{ float:left; width:216px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;background:url(../images/individualcenter/date.png) no-repeat right center;}
.mod_infor .kehu .txt_113{ float:left; width:113px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;}
.mod_infor .kehu .txt_185{ float:left; width:185px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;}
.mod_infor .kehu .txt_date{ float:left; width:130px; height:22px;line-height:22px;border:1px #ccc solid;padding:0 2px;}
.mod_infor .kehu li p{ float:left; color:#a8a8a8; line-height:22px; padding:0 0 0 10px;}
.mod_infor .kehu li em{ color:#f00; margin:0 5px 0 0;}
.mod_infor .kehu .ml16{ margin-left:16px; display:inline;}
.mod_infor .kehu strong{ font-weight:bold;}

.mod_infor .kehu_s1 span{ width:100px; color:#575757; font-size:12px;}
.mod_infor .kehu_s2 span{ width:130px; color:#575757; font-size:12px; font-weight:bold;}

.mod_infor .btn_save{ display:inline-block; width:90px; height:27px; background:url(../images/individualcenter/bg.png) -182px -176px no-repeat;border:0;cursor:pointer;}
.mod_infor .btn_back{ display:inline-block; width:90px; height:27px; background:url(../images/individualcenter/bg.png) left -204px no-repeat;border:0;cursor:pointer;}
.mod_infor .btn_change{ display:inline-block; width:90px; height:27px; background:url(../images/individualcenter/bg.png) -273px -176px no-repeat;border:0;cursor:pointer;}
.mod_infor .h50{ height:50px;}
.bdnone{ border:0;}

.city{ float:left; width:100%;}
.city li{ float:left; width:377px; height:87px; cursor:pointer;}
.city .tongc{ background:url(../images/individualcenter/bg.png) -378px top no-repeat;}
.city .tongc_cur{ background:url(../images/individualcenter/bg.png) -378px -88px no-repeat;}
.city .quang{ background:url(../images/individualcenter/bg.png) left -88px no-repeat;}
.city .quang_cur{ background:url(../images/individualcenter/bg.png) left top no-repeat;}
.quang_bg{ background:url(../images/individualcenter/quang_bg.png) left top no-repeat;}

.step_box{ background-color:#f7f7f7;}
.step{ width:716px; margin:0 auto; padding-bottom:27px; background:url(../images/individualcenter/line.png) left bottom repeat-x;}
.step h3{ height:44px; line-height:44px; font-weight:bold;}
.step h3 span{ font-weight:normal;}
.step .pro_left{ float:left; width:285px; height:368px; border:1px solid #d4d4d4;}
.step .pro_left .pro_tit{ height:33px; background:url(../images/individualcenter/ss_tit.png) left top repeat-x; border-bottom:1px solid #a8a8a8; color:#989898; text-indent:8px; line-height:32px;}
.step .pro_left .pro_tit em{ font-weight:bold; color:#cc0300;}
.pro_search{ float:left; width:226px; height:22px; margin:7px 0 0 7px; display:inline; border:1px solid #a8a8a8; border-bottom:1px solid #c7c7c7; background:url(../images/individualcenter/ss.png) 8px 4px no-repeat #fff; padding:0 0 0 40px;}
.pro_search .txt{ width:100%; height:22px; line-height:22px; border:0; color:#a5a5a5;}
.multiSelect{}
.pro_list{ float:left; width:266px; height:291px;  margin:0 0 0 7px; display:inline; overflow:hidden; overflow-y:auto; color:#2d2d2d; line-height:20px; border:1px solid #a8a8a8; border-top:0; background-color:#fff;}
.pro_list_r{ width:100%; border:0; margin:0; height:334px;}
.pro_list li{ float:left; text-indent:22px; width:100%; cursor:pointer;}
.pro_list .cur{ background:url(../images/individualcenter/pro_li_bg.png) 11px 6px no-repeat #f7f7f7;}
.step .pro_oper{ float:left; width:117px;}
.step .pro_oper .add{ display:block; width:90px; height:27px; margin:130px 0 0 15px; background:url(../images/individualcenter/bg.png) -91px -176px no-repeat;}
.step .pro_oper .del{ display:block; width:90px; height:27px; margin:35px 0 0 15px; background:url(../images/individualcenter/bg.png) -182px -204px no-repeat;}

.tjyy{ border-bottom:1px solid #d4d4d4; text-align:center; padding:35px 0 0 0; height:55px;}
.tjyy .btn_tjyy{ display:block; margin:0 auto; width:100px; height:27px; background:url(../images/individualcenter/bg.png) -572px -176px no-repeat;border:0;cursor:pointer;}
.add_box_yy{ padding:10px 6px 0;}
.add_yy{ float:right; width:116px; height:27px; background:url(../images/individualcenter/add_yy.png) left top no-repeat;}

/*新增添加预约_全国 页面  20111122 by fulili*/
.yy_tit{font:normal 30px/40px "Microsoft YaHei", SimHei; color:#d74646; text-align:center; padding:20px 0}
.yy_table{ border-collapse:collapse; margin:0 auto}
.yy_table tr th{ border:0; font-weight:bold; color:#000; text-align:center}
.yy_table tr td{ height:33px; line-height:33px; border:1px solid #d4d4d4; color:#575757; text-indent:15px;}
.yy_table tr.gray td{ background-color:#f1f1f1}
.yy_table .black{ color:#000}
.yy_table .green{ color:#1c8500;}
.yy_table .red{ color:#cc0300;}
.qr_btn{ display:block; width:101px; height:27px; background:url(../images/individualcenter/qr_btn.png) no-repeat top center; text-indent:-9999px; margin:30px auto;}
