.common_add {background-image: url(../images/common/common_add.gif) !important;}
.common_delete {background-image: url(../images/common/common_delete.gif) !important;}
.common_edit {background-image: url(../images/common/common_edit.gif) !important;}
.common_search {background-image: url(../images/common/common_search.gif) !important;}
.common_details {background-image: url(../images/common/common_details.gif) !important;}
.common_upload {background-image: url(../images/common/common_upload.png) !important;}
.common_back {background-image: url(../images/common/common_back.png) !important;}
.common_go {background-image: url(../images/common/common_go.png) !important;}
.common_list {background-image: url(../images/common/common_list.png) !important;}
.common_submit {background-image: url(../images/common/common_submit.png) !important;}
.common_flag {background-image: url(../images/common/common_flag.png) !important;}
.common_open {background-image: url(../images/common/common_open.png) !important;}
.common_shutdown {background-image: url(../images/common/common_shutdown.png) !important;}
.common_past{background-image: url(../images/common/common_past.png) !important;}
.common_nopast{background-image: url(../images/common/common_nopast.png) !important;}
.common_excel {background-image: url(../images/common/common_excel.gif) !important;}