<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${adtech.adlib.root}logs/lfd-all.log" />
		<!--设置是否在重新启动服务时，在原有日志的基础添加新日志-->
		<param name="Append" value="true" />
		<!-- 所有DEBUG以上级别的日志都输出到此文件 -->
		<param name="Threshold" value="DEBUG" />
		<!--最大文件大小-->
		<param name="MaxFileSize" value="5MB" />
		<!-- 最多保留个数 -->
		<param name="MaxBackupIndex" value="15" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[fxpgy %d{yyyy-MM-dd hh:mm} ] %p %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- every day create a error file     -->
	<!-- ================================= -->
	<appender name="FILE_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${adtech.adlib.root}logs/lfd-error" />
		<!--设置是否在重新启动服务时，在原有日志的基础添加新日志-->
		<param name="Append" value="true" />
		<!-- 只有Error以上级别的日志才输出 -->
		<param name="Threshold" value="ERROR" />
		<param name="MaxBackupIndex" value="10" />
		<!-- 频度  yyyy-ww每周  -->
		<param name="DatePattern" value="yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[fxpgy %d{yyyy-MM-dd hh:mm} ] %p %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>



	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[fxpgy %d{yyyy-MM-dd hh:mm} ] %p [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Append messages to the mail    -->
	<!-- ============================== -->
	<appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="To" value="443622173@qq.com" />
		<param name="From" value="adlib3@sina.com" />
		<param name="Subject" value="Error in adlib3" />
		<param name="SMTPHost" value="smtp.sina.com" />
		<param name="SMTPUsername" value="adlib3" />
		<param name="SMTPPassword" value="adtech0908" />
		<param name="Threshold" value="ERROR" />
		<param name="BufferSize" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d  %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!--
		WARNING: The DEBUG messages can really reduce the application
		performance
	-->
	<category name="com.fxpgy">
		<priority value="DEBUG" />
	</category>
	<category name="org.hibernate">
		<priority value="DEBUG" />
	</category>
	<category name="org.tuckey">
		<priority value="DEBUG" />
	</category>
	<category name="com.opensymphony.oscache">
		<priority value="DEBUG" />
	</category>
	<category name="org.springframework">
		<priority value="DEBUG" />
	</category>
	<category name="org.apache">
		<priority value="DEBUG" />
	</category>
	<category name="com.canoo.webtest">
		<priority value="DEBUG" />
	</category>
	<category name="net.sf.ehcache">
		<priority value="DEBUG" />
	</category>
	<category name="org.pdfbox">
		<priority value="DEBUG" />
	</category>
	<category name="org.textmining">
		<priority value="DEBUG" />
	</category>
	<category name="org.quartz">
		<priority value="DEBUG" />
	</category>
	<category name="org.acegisecurity">
		<priority value="ERROR" />
	</category>
	<category name="org.acegisecurity.event.authentication.LoggerListener">
		<priority value="ERROR" />
	</category>
	<category name="org.tuckey.web.filters.urlrewrite">
		<priority value="WARN" />
	</category>
	<category name="org.enhydra">
		<priority value="WARN" />
	</category>
	<category name="org.mortbay">
		<priority value="WARN" />
	</category>

	<category name="org.apache.struts">
		<priority value="WARN" />
	</category>
	<!--
		Suppressing WARNs which are generated on many pages when looking for
		'unsatisfiable' forward
	-->
	<category name="org.apache.struts.action.ActionMapping">
		<priority value="ERROR" />
	</category>

	<!--
		Suppressing WARNs which are generated when loading message bundles for
		languages other than English
	-->
	<category name="org.apache.struts.util.PropertyMessageResources">
		<priority value="ERROR" />
	</category>
	<category name="org.apache.commons.validator">
		<priority value="WARN" />
	</category>

	<!--
		Suppressing WARNs which are generated by getForm() method in case when
		no form is found
	-->
	<category name="org.apache.commons.validator.ValidatorResources">
		<priority value="ERROR" />
	</category>

	<category name="com.gargoylesoftware">
		<priority value="WARN" />
	</category>

	<category name="org.apache.commons.httpclient">
		<priority value="WARN" />
	</category>

	<category name="httpclient">
		<priority value="WARN" />
	</category>
	<category name="org.jgroups">
		<priority value="WARN" />
	</category>
	<category name="org.jboss">
		<priority value="WARN" />
	</category>
	<category name="freemarker">
		<priority value="info" />
	</category>
	<category name="com.tonbeller">
		<priority value="WARN" />
	</category>
	<category name="mondrian">
		<priority value="WARN" />
	</category>
	<category name="com.opensymphony.xwork2">
		<priority value="WARN" />
	</category>


	<!--	<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
	<!--		<param name="levelMin" value="info" />-->
	<!--		<param name="levelMax" value="info" />-->
	<!--		<param name="AcceptOnMatch" value="true" />-->
	<!--	</filter>-->

	<root>
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE_ERROR" />
<!--		<appender-ref ref="MAIL" />-->
	</root>
</log4j:configuration>
